name: "Upload SARIF"

on:
  push:
      paths:
          - '**.sarif'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # This step checks out a copy of the repository.
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Upload SARIF file
      uses: github/codeql-action/upload-sarif@v2
      with:
        # Path to SARIF file relative to the root of the repository
        sarif_file: results.sarif
